name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Récupérer le code
      uses: actions/checkout@v4

    - name: Installer Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Installer pytest
      run: pip install pytest

    - name: Lancer les tests
      run: pytest test_calculatrice.py